* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.dropdown {
    background: rgba(255, 255, 255, .4);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    list-style: none;
    padding: 4px;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    transition: .6s;
    z-index: 4;
}

.lista2 {
    background: rgba(110, 110, 110, 0.8);
    border-bottom: 3px solid rgb(70, 126, 46);
    border-left: 3px solid rgb(70, 126, 46);
    position: absolute;
    top: 0;
    right: -350px;
    height: 100vh;
    width: auto;
    line-height: 40px;
    padding: 100px 4em 1em 2em;
    font-size: 18px;
    transition: 1s;
}

.checkbox-oculto {
    position: absolute;
    z-index: 5;
    width: 45px;
    height: 45px;
    cursor: pointer;
    opacity: 0;
    right: 2em;
    top: 2em;
}

.checkbox-oculto:checked~.lista2 {
    opacity: 100%;
    right: 0em;
    padding-top: 100px;
    padding-left: 2em;
    top: 0;
}

.checkbox-oculto:checked~.dropdown {
    transform: rotate(0deg);
}