header {
    background-position: center;
}

.lista-experiencia {
    margin-left: 2em;
    margin-top: 2em;
}

.lista-experiencia li {
    margin-top: 2em;
}

.lista-experiencia li a {
    color: white;
    font-weight: 600;
}

p {
    line-height: 25px;
}

#margin5 {
    margin-top: 10rem;
    margin-bottom: 4rem;
}

#margin0 {
    margin-top: 0;
    margin-bottom: 4rem;
}

article {
    margin-right: 8rem;
}

.branco {
    color: rgb(255, 255, 255);
}

.imagemEsquerda {
    float: left;
    margin: 10rem 1rem 1rem 2rem;
    width: 30%;
    min-width: 300px;
}

.voltar-topo {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 4em auto;
    width: 150px;
}

@media screen and (max-width: 768px) {
    .esconder-paragrafo {
        display: none;
    }

    .lista-experiencia li {
        margin-top: 1.4em;
    }

    h2 {
        display: flex;
        justify-content: center;
    }

    article {
        margin: 0;
    }

    .imagemEsquerda {
        float: none;
        width: 70%;
        margin: 0;
        border-radius: 10px;
    }

    .article-div {
        align-items: center;
        background: rgba(0, 0, 0, .4);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin: 2em auto;
        padding: 2em;
        width: 80%;
    }

    #margin5 {
        margin: 0;
    }

    p {
        text-align: center;
        margin: 1em;
    }
}