@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Inter:wght@400;500;600&family=Petit+Formal+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-de-fundo: rgb(40, 210, 0);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

h1 {
    font-family: 'Aboreto', cursive;
    font-size: 64px;
    text-align: center;
    margin-bottom: 1em;
}

h2 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 32px;
    text-align: center;
}

h3 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 36px;
    text-align: center;
    padding: 2em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
}

.p0 {
    padding: 0 2em;
}

nav {
    background: rgba(255, 255, 255, 0.7);
    height: 70px;
}

nav a {
    font-size: 32px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .18);
    color: rgb(61, 61, 61);
    font-weight: 600;
    font-family: 'Aboreto', cursive;
}

.empresa {
    width: 100%;
    height: 80vh;
    background: var(--cor-de-fundo);
    padding: 3em;
    padding-top: 8em;
}

section {
    height: 100vh;
}

.landing-div {
    width: 100%;
    height: 80vh;
    background: var(--cor-de-fundo);
}

.z2pr {
    z-index: -2;
    position: relative;
}

.parallax-1 {
    background: url(../imgens/landing-page/imagem-1.jpg);
    background-attachment: fixed;
    background-position: center;
}

.parallax-2 {
    background: url(../imgens/landing-page/imagem-2.jpg);
    background-attachment: fixed;
    background-position: center;
}

.parallax-3 {
    background: url(../imgens/landing-page/imagem-3.jpg);
    background-attachment: fixed;
    background-position: center;
}

.parallax-4 {
    background: url(../imgens/landing-page/imagem-4.jpg);
    background-attachment: fixed;
    background-position: center;
}

.parallax-5 {
    background: url(../imgens/landing-page/imagem-5.jpg);
    background-attachment: fixed;
    background-position: center;
}

.parallax-6 {
    background: url(../imgens/landing-page/imagem-6.jpg);
    background-attachment: fixed;
    background-position: center;
}

#insta {
    width: 40px;
    text-decoration: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
}

#zap {
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

footer {
    background: rgb(75, 75, 75);
    color: rgb(235, 234, 234);
    height: auto;
    padding: 1.5em;
    font-size: 24px;
    font-family: 'Aboreto', cursive;
    text-align: center;
}

/* animação ---------------------------------------------- */

[data-animacao] {
    transition: 1s;
    opacity: 0;
    transform: translateX(-100px);
}

[data-animacao].animar {
    opacity: 1;
    transform: translateX(0);
}

/* responsividade */

@media screen and (max-width: 900px) {
    nav a {
        font-size: 24px;
    }
}

@media screen and (max-width: 665px) {
    nav a {
        font-size: 18px;
    }

    h3 {
        padding: 1em;
    }

    .p0 {
        padding: 0 1em;
    }

    div {
        padding-top: 3em;
    }
}

@media screen and (max-width: 515px) {
    nav a {
        font-size: 14px;
    }

    .div5 {
        padding-top: 4em;
    }

    div {
        padding-top: 8em;
    }

    footer {
        font-size: 20px;
    }

    .empresa {
        padding: 1em;
        padding-top: 6em;
    }
}

@media screen and (max-width: 400px) {
    header {
        position: static;
        height: auto;
        padding: 1em;
    }

    nav {
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        display: flex;
        color: red;
    }

    div {
        padding-top: 5em;
    }

    .div3 {
        padding-top: 3em;
    }

    .div5 {
        padding-top: 1em;
    }

    .empresa {
        padding: .6em;
        padding-top: 2em;
    }

    footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 306px) {
    h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 295px) {
    h1 {
        font-size: 48px;
    }

    h3 {
        font-size: 30px;
        padding: .5em;
    }

    .p0 {
        padding: 0 .5em;
    }

    footer {
        font-size: 14px;
    }
}