@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Inter:wght@400;500;600&family=Petit+Formal+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* preloader */
#preloader {
    background: black;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

/* tela de preloader */
#preloader span {
    width: 40px;
    height: 40px;
    border: 5px solid rgb(0, 255, 0);
    border-top: 5px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(200, 255, 0), inset 0 0 13px rgb(0, 255, 0);
    animation: girarBolinha .74s  alternate infinite;
}

@keyframes girarBolinha {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* fim do preloader */

/* scrool bar */
::-webkit-scrollbar {
    width: 11px;
    background: linear-gradient(45deg, green, rgb(115, 255, 0));
}

/* slide da scrool bar */
::-webkit-scrollbar-thumb {
    background: rgba(62, 66, 62, 0.74);
    border-radius: 5px;
    height: 90px;
}

:root {
    --cor-de-fundo: linear-gradient(60deg, rgb(0, 255, 0), rgb(0, 102, 54));
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

h1 {
    font-family: 'Aboreto', cursive;
    font-size: 64px;
    text-align: center;
    margin-bottom: 1em;
}

h2 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 32px;
    text-align: center;
}

h3 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 36px;
    text-align: center;
    padding: 2em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
}

.p0 {
    padding: 0 2em;
}

nav {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    border-bottom: 2px solid rgb(0, 90, 0);
    height: 70px;
}

nav a {
    font-size: 32px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .18);
    color: rgb(36, 36, 36);
    font-weight: 600;
    font-family: 'Aboreto', cursive;
}

/* animacao underline do menu ---------------------------*/
.container-menu-landing a {
    position: relative;
}

.container-menu-landing a::after {
    content: '';
    background: rgb(122, 122, 122);
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: .2s ease-in-out;
}

.container-menu-landing a:hover::after {
    width: 100%;
}

/* fim da animação --------------------------------- */
/* animação linear gradient ------------------------ */

.empresa {
    width: 100%;
    height: 80vh;
    background: linear-gradient(45deg, rgb(0, 177, 109), rgb(136, 255, 0), rgb(0, 180, 0));
    background-size: 500% 100%;
    padding: 3em;
    padding-top: 8em;
    animation: degrade-animado 3s infinite alternate;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 100%;
    }
}

/* fim da animação linear gradient -------------------- */
section {
    height: 100vh;
}

.landing-div {
    width: 100%;
    height: 80vh;
    background: var(--cor-de-fundo);
}

.z2pr {
    z-index: -2;
    position: relative;
}

.parallax-1 {
    background: url(../imgens/landing-page/imagem-1.jpg);
    background-attachment: fixed;
    background-position: center;
}

.parallax-2 {
    background: url(../imgens/landing-page/imagem-2.jpg);
    background-attachment: fixed;
    background-position: center;
}

.parallax-3 {
    background: url(../imgens/landing-page/imagem-3.jpg);
    background-attachment: fixed;
    background-position: center;
}

.parallax-4 {
    background: url(../imgens/landing-page/imagem-4.jpg);
    background-attachment: fixed;
    background-position: center;
}

.parallax-5 {
    background: url(../imgens/landing-page/imagem-5.jpg);
    background-attachment: fixed;
    background-position: center;
}

.parallax-6 {
    background: url(../imgens/landing-page/imagem-6.jpg);
    background-attachment: fixed;
    background-position: center;
}

#insta {
    width: 40px;
    text-decoration: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
}

#zap {
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

footer {
    background: linear-gradient(45deg, rgb(75, 75, 75), rgb(109, 109, 109));
    color: rgb(235, 234, 234);
    height: auto;
    padding: 1.5em;
    font-size: 24px;
    font-family: 'Aboreto', cursive;
    text-align: center;
}

/* animação ---------------------------------------------- */

[data-animacao] {
    transition: 1s;
    opacity: 0;
    transform: translateX(-100px);
}

[data-animacao].animar {
    opacity: 1;
    transform: translateX(0);
}

/* responsividade */
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    h3 {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 900px) {
    nav a {
        font-size: 24px;
    }
}

@media screen and (max-width: 665px) {
    nav a {
        font-size: 18px;
    }

    h3 {
        padding: 1em;
    }

    .p0 {
        padding: 0 1em;
    }

    div {
        padding-top: 3em;
    }
}

@media screen and (max-width: 515px) {
    nav a {
        font-size: 14px;
    }

    h2 {
        margin-top: 2em;
    }

    .div5 {
        padding-top: 4em;
    }

    div {
        padding-top: 8em;
    }

    footer {
        font-size: 20px;
    }

    .empresa {
        padding: 1em;
        padding-top: 6em;
    }
}

@media screen and (max-width: 400px) {
    header {
        position: static;
        height: auto;
        padding: 1em;
    }

    nav {
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        display: flex;
        border-bottom: none;
    }

    div {
        padding-top: 5em;
    }

    .div3 {
        padding-top: 3em;
    }

    .div5 {
        padding-top: 1em;
    }

    .empresa {
        padding: .6em;
        padding-top: 2em;
    }

    footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 365px) {
    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 295px) {
    h1 {
        font-size: 48px;
    }

    h3 {
        padding: .5em;
    }

    .p0 {
        padding: 0 .5em;
    }

    footer {
        font-size: 14px;
    }
}