header {
    background-position: center top;
}

section {
    background: rgba(120, 120, 120, 0.4);
    border-radius: 17px;
    margin: 5em auto;
    width: 50%;
    padding: .5em;
}

h2 {
    margin: 2em auto;
}

.input-conversor {
    padding: .8em;
}

.botao-conversor-container {
    margin-top: 2em;
}

.botao-conversor {
    margin: 0 .7em 0 .7em;
    padding: .5em;
    width: 18%;
    cursor: pointer;
}

.resposta {
    margin: 1em auto;
}

@media screen and (max-width: 1254px) {

    .input-conversor {
        width: 50%;
    }

    .botao-conversor {
        height: 4em;
        width: 25%;
    }

    .titulo-temperatura {
        text-align: center;
        line-height: 2.2em;
    }

    .menu-home {
        margin-top: 1em;
    }

}

@media screen and (max-width: 903px) {
    .botao-conversor {
        height: 4em;
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    section {
        width: 80%;
    }
}



@media screen and (max-width: 564px) {
    .botao-conversor {
        height: 4em;
        width: 40%;
    }
}

@media screen and (max-width: 425px) {

    header {
        height: 15vh;
    }

    h1 {
        text-align: center;
        padding-top: .7em;
    }

    span {
        display: none;
    }

    .menu-home {
        margin-top: 1em;
        display: flex;
        justify-content: end;
    }

    .botao-conversor {
        height: 4em;
        width: 40%;
    }
}

@media screen and (max-width: 400px) {
    body {
        font-size: 12px;
    }

    h1 {
        text-align: center;
        padding-top: 0.8em;
        font-size: 20px;
    }
}